rlsbl/strictspec_gen/release_file_validator.py text eol=lf linguist-generated=true
rlsbl/strictspec_gen/config_validator.py text eol=lf linguist-generated=true
rlsbl/strictspec_gen/adjudication_validator.py text eol=lf linguist-generated=true
rlsbl/strictspec_gen/changelog_entry_commit_validator.py text eol=lf linguist-generated=true
rlsbl/strictspec_gen/transition_record_event_validator.py text eol=lf linguist-generated=true
rlsbl/strictspec_gen/reconcile_plan_validator.py text eol=lf linguist-generated=true
internal/releaserecord/releasefilespec/rlsbl_release_file_gen.go text eol=lf linguist-generated=true
internal/releaserecord/transitionspec/rlsbl_transition_record_event_gen.go text eol=lf linguist-generated=true
internal/historyrewrite/reconcileplanspec/rlsbl_reconcile_plan_gen.go text eol=lf linguist-generated=true
internal/declarations/releasablesspec/rlsbl_releasables_gen.go text eol=lf linguist-generated=true
internal/declarations/testrunnerspec/rlsbl_test_runner_gen.go text eol=lf linguist-generated=true
internal/changelog/entryspec/rlsbl_changelog_entry_gen.go text eol=lf linguist-generated=true
